
/* keep your eyes on your own page pls */
/* i made this from scratch, so that's p cool~ */


@import url("https://use.typekit.net/nhb5ifb.css");

html {
  font-family: font-family: neue-haas-grotesk-text, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

body {
  background-color: #E6E3E1;
  margin: 0;
}

p {
  font-family: neue-haas-grotesk-text, sans-serif;
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.8em;
}

soon {
  font-family: sometimes;
  font-size:160px;
  line-height: 120px;
  color: #444444;
  text-transform: uppercase;
}

.main {
border: 2px solid #444444;
height: 100vh;
}

.vertical-center {
  border: 0px solid white;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)

}

.main div p {
  padding-top:30px;
  font-style: normal;
  line-height: 1.8em;
}

.main div img {
  width: 25px;
  margin: 0 auto;
  padding: 20px;
}

@font-face {
  font-family: sometimes;
  src: url('https://static1.squarespace.com/static/547389d6e4b08f72961cbaa4/t/625901b72f78210ef67c9158/1650000311894/Sometimes+Times.woff2') format('woff2');
}
