
@import url("https://use.typekit.net/nhb5ifb.css");
html {
  font-family: font-family: neue-haas-grotesk-text, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

body {
  background-color: #E6E3E1;
  margin: 0;
}

p {
  font-family: neue-haas-grotesk-text, sans-serif;
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.8em;
}

soon {
  font-family: sometimes;
  font-size:80px;
  color: #444444;
  text-transform: uppercase;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle
}

.main div {
  display: flex;
  flex-flow: column wrap;
  margin: auto auto;
  width: auto;
  border: 0px solid white;
  text-align: center;
  position: absolute;
  top: 40%;
}

.main div p {
  font-style: normal;
  line-height: 1.8em;
}

.main div img {
  width: 25px;
  margin: 0 auto;
  padding: 20px;
}

@font-face {
  font-family: sometimes;
  src: url('https://github.com/chantellcruz/website/blob/main/Sometimes%20Times.woff2') format('woff2');
}
