/*==========  ˗ˏˋ ✿ R E S P O N S I V E N E S S ✿ ´ˎ˗ ==========*/
/* FOR THE WIDE BOIS ONLY */
@media screen and (min-width:992px) {
  .header-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .section {
    padding: 10rem 0 2rem;
  }

  .section-title {
    margin-bottom: 3.5rem;
  }

  .nav-links-mobile {
    display: none;
  }

  .about-container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }

  .about-txt {
    text-align: left;
  }

}


/* MACBOOK AIR */
@media screen and (min-width:769px) {
  .section {
    padding: 10rem 0 2rem;
  }

  .section-title {
    margin-bottom: 2rem;
  }

  .nav-links-mobile {
    display: none;
  }

  .header-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 4rem;
  }

  .pfp {
    width: 300px;
    border-radius: 300px;
    justify-self: center;
  }

  .about-container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }

  .about-txt {
    text-align: left;
  }

  .skills-container {
    grid-template-columns: repeat(2,350px);
    column-gap: 3rem;
  }

  .skills-content {
    padding: 2rem 0;
    font-size: var(--normal-font-size);
  }

  .skills-box {
    display: flex;
    justify-content: center;
    column-gap: 2rem;
    flex-direction: row;
  }


  .portfolio-img {
    width: 429px;
  }

  .portfolio-container {
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
  }

  .contact-container {
    grid-template-columns: repeat(2, max-content);
  }

  .contact-form,
  #contact-button {
    width: 360px;
  }

  .contact-form-mobile {
    display: none;
  }

  .success-message {
    place-self: center;
    max-width: 50vw;
  }

}


/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width:600px) {

  .nav-links {
    display: none;
  }

  .pfp {
    border-radius: 50%;
    width: 200px;
  }

  .home_social {
    display: none;
  }
  
  .skills-content {
    grid-template-columns: 145px;
  }

  .skills-group {
    grid-template-columns: repeat(2, 1fr);
  }

  .skills-name {
    font-size: var(--normal-font-size);
  }

  .skills-bar .bar .progress-line {
    position: relative;
    height: 10px;
    background: var(--container-color-accent);
    border-radius: 10px;
    width: 60vw;
    /* transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards; */
  }

  .services__container {
    grid-template-columns: 145px;
    justify-content: center;
  }

  .portfolio-item {
    font-size: var(--small-font-size);
  }

  .portfolio-filters {
    column-gap: .25rem;
  }

  #form,
  #twitter {
    display: none;
  }

  .success-container {
    display: grid;
    width: 100vw;
    height: 100vh;
    padding: 2rem;
  }

  .success-message {
    place-self: baseline normal;
  }

  .success-message h1 {
    line-height: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 2rem;
  }

}