/*==========  ˗ˏˋ ✿ T H E M E  T O G G L E ✿ ´ˎ˗ ==========*/
#theme-button {
    font-size: 1.25rem;
    cursor: pointer;
    transition: .3s;
}

#theme-button:hover {
    opacity: 0.6;
    transition: .3s;
    cursor: var(--default-cursor);
}

/*==========  ˗ˏˋ ✿ B U T T O N S ✿ ´ˎ˗ ==========*/
.button {
    display: inline-block;
    border: 2px solid var(--primary-color);
    background-color: var(--primary-color);
    color: var(--bg-color);
    padding: .75rem 1rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
    transition: .4s;
}

.button:hover {
    border: 2px solid var(--primary-color-alt);
    background-color: var(--primary-color-alt);
    color: var(--bg-color);
    cursor: var(--default-cursor);
}

.button-ghost {
    background-color: transparent;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}

/*==========  ˗ˏˋ ✿ F O R M   S U B M I T   S U C C E S S ✿ ´ˎ˗ ==========*/
.success-container {
    display: grid;
    width: 100vw;
    height: 100vh;
}

.success-message h1 {
    line-height: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 2rem;
}

.success-buttons {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 2.5em;
}

/*==========  ˗ˏˋ ✿ S C R O L L B A R ✿ ´ˎ˗ ==========*/
::-webkit-scrollbar {
    width: .6rem;
    border-radius: .5rem;
    background-color: var(--bg-color);
    transition: .4s;
}

::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--subtitle-color);
}

/*==========  ˗ˏˋ ✿ H I G H L I G H T ✿ ´ˎ˗ ==========*/
::-moz-selection {
    color: var(--bg-color);
    background: var(--secondary-color);
}

::selection {
    color: var(--bg-color);
    background: var(--secondary-color);
}