/*========== ˗ˏˋ ✿ F O N T S ✿ ´ˎ˗ ==========*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto-Mono:wght@400;500;600&display=swap");

/*========== ˗ˏˋ ✿ T H E M E ✿ ´ˎ˗ ==========*/
:root {
  /* misc */
  --header-height: 3.5rem;
  --default-cursor: url('data:image/x-icon;base64,AAACAAEAICAAAAAAAACoEAAAFgAAACgAAAAgAAAAQAAAAAEAIAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADgAA9A4BAOcAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAOAQDn/////w4BAOcAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADgEA5w4BAOcAAAAADgEA5///////////DgEA5wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAOAQDn/////w4BAOf//////////w4BAOcAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA4BAOf/////////////////////EAIBvQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADgEA5/////////////////////8QAgG9EAIBvRACAb0AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAOAQDn////////////////////////////////EAIBvQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA4BAOf//////////////////////////xACAb0WBQI3AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADgEA5/////////////////////8QAgG9FgUCNwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAOAQDn////////////////EAIBvRYFAjcAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA4BAOf//////////xACAb0WBQI3AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADgEA5/////8QAgG9FgUCNwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAOAQDnEAIBvRYFAjcAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA4BAOcWBQI3AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA////////////////////////////////////////////////////////////////////////////////////////////////8/////H///8h////A////wP///8A////AP///wH///8D////B////w////8f////P////3////8='), auto;

  /* light-theme colors */
  --primary-color: #222222;
  --primary-color-alt: #3d3d3d;
  --secondary-color: #8e857d;
  --title-color: #403029;
  --subtitle-color: #aaa099;
  --text-color: #403029;
  --text-color-light: #ffffff;
  --bg-color: #e5deda;
  /* --container-color-accent: #d4cdc7; */
  --container-color-accent: #c9c0b9;
  /* --container-color: #e0d8d2; */
  --container-color: #dbd3ce;
}

/*========== ˗ˏˋ ✿ T Y P O G R A P H Y ✿ ´ˎ˗ ==========*/
:root {
  --body-font: 'Poppins', sans-serif;
  --secondary-font: 'Roboto-Mono', monospace;
  --biggest-font-size: 1.75rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .9rem;
  --small-font-size: .8rem;
  --smaller-font-size: .7rem;
  --tiny-font-size: .625rem;
  --font-medium: 500;
  --font-semibold: 600;
}

/* for very large screens only */
@media screen and (min-width: 1025px) {
  :root {
    --biggest-font-size: 2.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*==========  ˗ˏˋ ✿ B A S E ✿ ´ˎ˗ ==========*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: var(--default-cursor);
}

html {
  scroll-behavior: smooth;
}

body {
  transition: .4s;
}

.website {
  transition: .8s;
}

body,
button,
input,
textarea {
  background-color: var(--bg-color);
  font-size: var(--normal-font-size);
  color: var(--primary-color);
  font-family: var(--body-font);
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semibold);
}

ul {
  list-style: none;
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}

p a:hover {
  opacity: 0.6;
}

/*==========  ˗ˏˋ ✿ E L E M E N T S ✿ ´ˎ˗ ==========*/
.main {
  overflow: hidden;
}

.section {
  padding: 4rem 0 1rem;
}

.section-title {
  text-align: center;
  font-size: var(--h2-font-size);
  color: var(--primary-color);
  margin-bottom: 1rem
}

.section-subtitle {
  display: block;
  text-align: center;
  font-size: var(--smaller-font-size);
  color: var(--subtitle-color);
}

.container {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  gap: 1.25rem;
}

.comment {
  display: block;
  font-size: var(--smaller-font-size);
  color: var(--primary-color-alt);
}

/*==========  ˗ˏˋ ✿ N A V I G A T I O N ✿ ´ˎ˗ ==========*/
.navigation {
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 0.8rem;
  background-color: var(--bg-color);
  transition: .4s;
}

.nav-elements {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.logo {
  color: var(--primary-color);
  font-weight: var(--font-semibold);
}

.logo:hover {
  opacity: 0.6;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item a {
  font-size: var(--small-font-size);
  color: var(--text-color);
  padding: .4rem;
  display: flex;
}

.nav-item a:hover {
  opacity: 0.6;
  transition: .3s;
}

/*==========  ˗ˏˋ ✿ H E A D E R ✿ ´ˎ˗ ==========*/
.header__container {
  position: relative;
  row-gap: 4.5rem;
  padding-top: 0rem;
}

.header-info {
  text-align: center;
}

.greeting {
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-bottom: .25rem;
}

.name {
  font-size: var(--biggest-font-size);
}

.professional-title {
  font-size: var(--small-font-size);
  color: var(--text-color);
  font-weight: var(--font-medium);
  margin-bottom: 2.5rem;
}

.header-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 2.5em;
}

.header-pfp {
  justify-self: center;
  width: 360px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
}

.home__img {

  width: 160px;

}

.pfp {
  width: 360px;
  border-radius: 360px;
}

.home-social,
.home-scroll {
  position: absolute;

}

.home-social {
  bottom: 5rem;
  left: 0;
  display: grid;
  row-gap: .5rem;
}

.social-link {
  width: max-content;
  background-color: var(--container-color);
  color: var(--primary-color);
  padding: .25rem;
  border-radius: .25rem;
  display: flex;
  font-size: 1rem;
  transition: .4s;
}

.social-link:hover {
  background-color: var(--container-color-accent);
}

.home-social::after {
  content: '';
  width: 32px;
  height: 2px;
  background-color: var(--primary-color);
  transform: rotate(90deg) translate(16px, 3px);
}

.home-scroll {
  color: var(--primary-color);
  right: -1.5rem;
  bottom: 4rem;
  display: grid;
  row-gap: 2.25rem;
  justify-items: center;
}

.home-scroll-icon {
  font-size: 1.25rem;
}

.scroll-down-text {
  font-size: var(--smaller-font-size);
  transform: rotate(-90deg);
}

/*==========  ˗ˏˋ ✿ A B O U T ✿ ´ˎ˗ ==========*/
.about-container {
  row-gap: 2.5rem;
  align-items: center;
}

.about-img {
  width: 350px;
  border-radius: 2rem;
  justify-self: center;
}

.about-txt {
  padding: 0 2rem;
  text-align: center;
  justify-content: initial;
  line-height: 1.6em;
}

.about-pitch {
  font-size: var(--h3-font-size);
  font-weight: var(--font-semibold);
  margin-bottom: 2rem;
}

.about-description {
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  margin-bottom: 2.5rem;
}

/*==========  ˗ˏˋ ✿ S K I L L S ✿ ´ˎ˗ ==========*/
.skills-container {
  row-gap: 2rem;
  justify-content: center;
}

.skills-content {
  background-color: var(--container-color);
  padding: 1.5rem;
  border-radius: 1.25rem;
}

.skills-title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-semibold);
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 1.5rem;
}

.skills-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 1rem;
}

.skills-group {
  display: grid;
  align-content: flex-start;
  row-gap: 1rem;
}

.skills-data {
  display: flex;
  column-gap: .5rem;
  font-size: var(--small-font-size);
}

.skills .bx-badge-check {
  font-size: 1rem;
  color: var(--secondary-color);
}

.skills-name {
  font-weight: var(--font-medium);
  line-height: 18px;
}


/*==========  ˗ˏˋ ✿ P O R T F O L I O ✿ ´ˎ˗ ==========*/
.portfolio-container {
  padding: 2rem;
}

.portfolio-filters {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: .75rem;
  margin-bottom: 2rem;
}

.portfolio-item {
  color: var(--title-color);
  padding: .25rem .75rem;
  font-weight: var(--font-medium);
  border-radius: .5rem;
}

.project-card {
  background-color: var(--container-color);
  padding: 1rem;
  border-radius: 1rem;
}

.project-card p {
  font-size: var(--small-font-size);
}

.portfolio-img {
  width: 295px;
  border-radius: 1rem;
  margin-bottom: .75rem;
}

.portfolio-title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  /*margin-bottom: .25rem;*/
}

.portfolio-description {
  padding: 0.5rem 0 0.75rem 0;
}

.portfolio-links {
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
}

.portfolio-button {
  /*width: max-content;*/
  background-color: var(--container-color-accent);
  color: var(--primary-color);
  padding: .5rem .75rem;
  font-weight: var(--font-medium);
  border-radius: .5rem;
  font-size: var(--small-font-size);
  display: flex;
  align-items: center;
  column-gap: .25rem;
}

.portfolio-button:hover {
  background-color: var(--secondary-color);
  transition: .4s;
}

.portfolio-button:hover .portfolio-icon {
  transform: translateX(.25rem);
}

.portfolio-icon {
  font-size: 1rem;
  transition: .4s;
}

.active-filter {
  background-color: var(--primary-color);
  color: var(--container-color);
}



/*==========  ˗ˏˋ ✿ C O N T A C T ✿ ´ˎ˗ ==========*/
.contact-container {
  row-gap: 3rem;
  padding-bottom: 3rem;
  justify-content: center;
  column-gap: 3rem;
}

.contact-header {
  width: 400px;
  text-align: center;
  font-size: var(--normal-font-size);
}

.contact-img {
  width: 400px;
  border-radius: .75rem;
}

.contact-info {
  display: grid;
  grid-template-columns: 300px;
  justify-content: center;
  gap: 1rem;
}

.contact-card {
  background-color: var(--container-color);
  padding: 2rem;
  border-radius: .75rem;
  text-align: center;
}

.contact-card-icon {
  font-size: 2rem;
  color: var(--secondary-color);
  margin-bottom: .25rem;
}

.contact-card-data {
  font-size: var(--small-font-size);
}

.contact-card-title {
  font-weight: var(--font-medium);
  font-size: var(--small-font-size);
}

.contact-card-data {
  display: block;
}

.contact-form {
  margin: 0 auto;
}

.contact-form-div {
  position: relative;
  margin-bottom: 2rem;
  height: 4rem;
}

.contact-form-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  color: var(--secondary-color);
  border: 2px solid var(--container-color-accent);
  outline: none;
  padding: 1.5rem;
  border-radius: .75rem;
  z-index: 1;
}

.contact-form-tag {
  position: absolute;
  top: -.75rem;
  left: 1.25rem;
  font-size: var(--small-font-size);
  padding: .25rem;
  background-color: var(--bg-color);
  z-index: 10;
}

.contact-form-area {
  height: 11rem;
}

.contact-form-area textarea {
  resize: none;
}

#contact-button {
  display: grid;
  margin: auto;
}

/*==========  ˗ˏˋ ✿ F O O T E R ✿ ´ˎ˗ ==========*/
.footer {
  background-color: var(--primary-color);
}

.footer-container {
  padding: 3rem 0 4rem;
}

.footer-title {
  color: var(--bg-color);
  text-align: center;
  margin-bottom: 1rem;
}

.footer-nav {
  display: flex;
  justify-content: center;
  column-gap: 1.5rem;
  margin-bottom: 2rem;
}

.footer-social {
  display: flex;
  justify-content: center;
  column-gap: 1rem;
}

.footer-social-link {
  color: var(--subtitle-color);
  font-size: 1.5rem;
  padding: .2rem;
  display: inline-flex;
}

.footer-link:hover,
.footer-social-link:hover {
  opacity: 0.6;
  transition: .4s;
}

.copyright {
  display: block;
  margin-top: 3rem;
  color: var(--container-color-accent);
  text-align: center;
  font-size: var(--smaller-font-size);
}